#unlabeledlink {
	color: #444444; text-decoration: none
}
#unlabeledlink a {
	color: #444444; text-decoration: none
}
#unlabeledlink a:link {
	color: #444444; text-decoration: none
}
#unlabeledlink a:visited {
	color: #444444; text-decoration: none
}
#unlabeledlink a:hover {
	color: #444444; text-decoration: none
}
#unlabeledlink a:active {
	color: #444444; text-decoration: none
}